@charset "UTF-8";
/*a  upload   use in uploadBtn*/
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}






/*like link style   use in cusetting*/
.a-click{
	cursor:pointer;
}
.a-click:link{
//設定還沒有瀏覽過的連結
text-decoration:none;
background-color:#ffffff;
}
.a-click:visited {
//設定已經瀏覽過的連結
color:#ffffff;
background-color:red;
}
.a-click:hover {
//設定滑鼠移經的連結
text-decoration:underline;
background-color:#fafafa;
color:gray;
}
.a-click:active {
//設定正在點選的連結
text-decoration:none;
background-color:gray;
color:#fafafa;
}
/* Eden style of SweetAlert */
/*.swal-button {
  background-color: #20B2AA;
}
.swal-button--cancel {
	color : #eee;
}*/
/* My style of SweetAlert */
.swal-button {
  padding: 7px 19px;
  border-radius: 5px;
  background-color: #20B2AA;
  font-family: 微軟正黑體;
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
.swal-button--cancel {
	color : WhiteSmoke;
}

/*font*/
font-5
{
	font-size:200px;
}
.mytitle
{
	font-family: 微軟正黑體;
}
body
{
	font-family: Microsoft JhengHei;
}



.information
{
	display:none;
}
.btnOrder
{
	font-size:36px;
	cursor:pointer;
}
ul li ul
{
	padding-left: 15px;
}
.del
{
	text-decoration:line-through;
}

/* special        use in boList.html*/
.spe01H4
{
	display: table;width: 100%;
}
.spe01I
{
	display: table-cell;
    vertical-align: middle;
    width: 10px;
}
.spe01Span
{
	display:  table-cell;
    vertical-align: middle;
    width: 10px;
}
.spe01A
{
	display:  table-cell;
    vertical-align: middle;
    width: 10px;
}
.spe01Span-1
{
	display:  table-cell;
    vertical-align: middle;
    text-align: right;
}
/* special       use */
.myDel:hover
{
	text-decoration: line-through;
	color:red;
}
.cursorPointer
{
	cursor: pointer;
}
.boSettingBtn
{
	padding-left:9px;
	padding-right:9px;

}
/* Let input type="number" noButton       NOW NOT USE
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}*/

.order-number{
	padding: 5px;
}
.cuMenu-btn{
	font-size:17px;
	cursor: pointer;
}
.cuMenu-btn-edit{
	color:green;
}
.cuMenu-btn-remove{
	color:Crimson;
}